.marker {
    list-style:none;
    padding:0;
}
.shir {
    padding:  5px;
}

.centered {
    display: flex;
    justify-content: center;
}
.kategorua {
    margin:10px 0;
    padding:10px;
}
.ramka {
    padding: 5px;
    border-radius: 2px;
    border-style: solid;
    padding: 10px;
}
.granici {
    border:none;
}
.osnova {
    margin: 20px;
}
.razmer_k {
    border: none;
    border-radius: 25px;
    width: 22px;
}
.s_act {
    background: #8a8a8a;
}
