<div class="row block-menu">
    <span onclick="location.replace('Admin/Category')">Категори</span>
    <span onclick="location.replace('Admin/Size')">Размеры</span>
    <span onclick="location.replace('Admin/Color')">Цвета</span>
    <span onclick="location.replace('Admin/Products')">Товары</span>
</div>