
@model IEnumerable<Fur.Models.Product>
@{
    /**/


   string CategoryId= ViewData["CategoryId"].ToString();



    int head = 0;

}

<div class="container row">

    @foreach (var item in Model)
    {
        if (item.Enabled ==true && ((item.CategoryId.ToString() == CategoryId) || (CategoryId == (0).ToString())))
        {

             <div class="categ-prod-block" onclick="location.replace('../Product/Index/url-@item.Id')">



        <span class="d-f-j-c"><span style="margin: 10px 0;"><img src="~/img/@item.Photo" class="categ-prod-block-img"> </span></span>
        <div class="categ-prod-block-additional">
            <span class="disp-li text-category-prod"><strong>Название:</strong> @item.Name</span>
            <span class="disp-li text-category-prod"><strong>Артикул:</strong> @item.ArtNo</span>
            <span class="disp-li text-category-prod"><strong>Категория:</strong> @item.CategoryId</span>
            @*@if (item.Baskets.Count > 0)
            {
            <span class=" disp-li text-category-prod"><strong>Уже куплено:</strong> @item.Baskets.Count</span>
            }*@
        </div>

    </div>
        }
    }


</div>

