<div class="ramka text-center">
    <ul class="marker">
        @foreach (var b in ViewBag.Bats)
        {
            <li class="kategorua"><input type="submit" class="btn btn-success" name="Stol" value="@b.Name"></li>
        }
    </ul>
</div>

