@model IEnumerable<Fur.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row block-menu">
    <span onclick="location.replace('category')">Категории</span>
    <span onclick="location.replace('admin')">Админка</span>
    <span onclick="location.replace('client')">Личный кабинет</span>
</div>
