 @model IEnumerable<Fur.Models.Product>
    @{ 
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div>
        <table>
            <thead class="alert alert-success">
                <tr class="header">
                    <td class="shir"><p>Название мебели</p></td>
                    <td class="shir"><p>Цена</p></td>
                </tr>
            </thead>
            <form method="get" action="/Home/products/">
                <tbody class="alert alert-info">
                    @foreach(var item in Model)                     
                    {
                    if (item.Activiti == '1'.ToString())
                    {
                    <tr>
                        <td class="shir"><a class="granici alert-info" href="products/@item.Id">@item.Name</a></td>
                        <td class="shir"><p>@item.Offer.Price</p></td>
                    </tr>
                    }

                    }
                </tbody>
            </form>
        </table>
    </div>
